@import "./variables";
.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  background-color: $secundary-color;
  color: #fff;
}

.links {
  a {
    text-decoration: none;
    color: $header-link;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
